.panel-master {
    display: flex;
    background-color:aliceblue;
    height: 75vmin;
    /* min-height: 40vmax; */
    width: 90vmin;
    /* min-width: 60vmax; */
    margin: auto;
    border-style: solid;
    flex-direction: column;
}

/* parent: panel-master */
/* actrually parent for panel columns */
.panel {
    /* background-color:red; */
    display: flex;
    width: 100%;
    height: 50%;
    /* TODO: testing */
    /* justify-content: center; */
    align-self: center;
    justify-content:space-evenly;
}

/* column */
.button-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.panel-buttons {
    display: flex;
    height: 30%;
    border-radius: 20%;
    background-color: white;
    color: black;
    width: 48%;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}
.panel-buttons:hover {
    cursor:pointer;
    background-color: black;
    color: white;
}
.panel-buttons:active {
    cursor:pointer;
    background-color: white;
    color: black;
}


.button-boss {
    display: flex;
    background-color:gray;
    height: 45%;
}