.allcol{
    /* border: 1px solid black; */
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20%;
}

.testcol{
    background-color: white;
    border-radius: 50%;
    height: 12%;
    width: 80%;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

.testcol:hover{
    background-color: black;
    color: white;
    cursor:pointer;
    background-image:none;
}

.testcol:active{
    background-color: white;
}

.colrest{
    background-color: rgb(98, 98, 126);
}

.colact{
    background-color: rgb(41, 13, 13);
}
