.allcol{
    /* border: 1px solid black; */
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20%;
}

.testcol{
    background-color: white;
    border-radius: 50%;
    height: 12%;
    width: 80%;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

.testcol:hover{
    background-color: black;
    color: white;
    cursor:pointer;
    background-image:none;
}

.testcol:active{
    background-color: rgb(245, 87, 245);
    color: #5bd9fc;
}

.colrest{
    background-color: rgb(201, 201, 250);
}

.colact{
    background-color: rgb(129, 103, 103);
} 

.alllight{
    border-radius: 50%;
    height: 8%;
    width: 60%;
    text-align: center;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}
.light-colrest{
    background-color: #5bd9fc;
}
.light-colact{
    background-color: rgb(245, 87, 245);
}