.panel {
    background-color:red;
    display: flex;
    width: 80%;
    height: 30vw;
    /* TODO: testing */
    justify-content: center;

}

.button-container{
    background-color:yellow;
    display: flex;
    flex-direction: column;
}

