.allbuttons {
    /* border: 1px solid black; */
    height: 12%;
    width: 90% ;
    border-radius: 20%;
    margin:0.1vw;
}

.allbuttons:hover {
  filter: brightness(150%);
  cursor:pointer;
}

.rest {
  background-color: darkgray;
}


.activated {
  background-color: black;
}