.panel {
    background-color:red;
    display: flex;
    width: 100%;
    height: 30vw;
    /* TODO: testing */
    justify-content: center;

}

.button-container{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.panel-buttons {
    display: flex;
    height: 33%;
}

.button-boss {
    display: flex;
    background-color:yellow;
    height: 30vw;
}