.speed-changer {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 5%;
    /* align-self: center;
    border-radius: 20%; */
}

.speed-changer-button {
    background-color: brown;
    display: flex;
    width: 20%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.speed-changer-speed {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 60%;
    font-size: 2vmin;
}