.speed-changer {
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    /* align-self: center;
    border-radius: 20%; */
}

.speed-changer-button {
    background-color: brown;
    display: flex;
    width: 20%;
    border-radius: 50%;
    justify-content: center;
    cursor:pointer;
}

.speed-changer-speed {
    display: flex;
    justify-content: center;
    width: 60%;
}