.speed-changer {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.speed-changer-button {
    background-color: brown;
    display: flex;
    width: 20%;
    border-radius: 50%;
    justify-content: center;
}

.speed-changer-speed {
    display: flex;
    justify-content: center;
    width: 60%;
}